.promo-products {
  padding: 80px 0 80px 0;
}
.promo-products h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}
.wrap-promo {
  position: relative;
}
.promo-products .slick-promo .item-slick-promo .img-promo {
  border-radius: 10px;
}
.arrow-slick-promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: white;
  position: absolute;
  background-color: black;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 200;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.prev-slick-promo {
  left: 20px;
  right: auto;
}
.next-slick-promo {
  right: 20px;
  left: auto;
}
.wrap-promo:hover .arrow-slick-promo {
  opacity: 0.5;
}
@media only screen and (max-device-width: 480px) {
  .arrow-slick-promo {
    opacity: 0.5;
  }
}
.notify-badge{
  position: absolute;
  top:1rem;
  right:1.5rem;
  width:10%;
  text-align: center;
  line-height: 2rem;;
  font-size: 1rem;
  color:white;
}